<h2>テンプレートファイル Hello</h2>

<%= "テンプレート変数の読み込み: " + @msg %>

<h3>計算してみる</h3>

<%
  price = 108
  tax = 1.1
  result = price * tax 
%>

<p>
  税込み価格:
  <% if result > 100 %>
  <%= 
  result.floor %>円
  <% else %>
  足りないです
  <% end %>
</p>
